.container {
  display: flexbox;
  margin: 100px auto;
  margin-bottom: 0;
  padding: 80px 100px;
  border: 2px solid black;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: 0;
}

form {
  display: block;
}

/* button {
  position: relative;
  bottom: 30px;
  left: 300px;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px 6px;
} */

ul {
  list-style-type: none;
}

#degree {
  font-size: 50px;
  padding-top: 0px;
}

#degreeUnits {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 20px;
  right: 3px;
}

.credit {
  display: flexbox;
  margin: 20px 100px auto;
  padding-top: 10px;
  padding-left: 200px;
}

.summary {
  padding-top: 40px;
}

.location {
  padding-top: 30px;
}

.temperature {
  text-align: right;
  padding-top: 10px;
}

.container .col {
  display: flex;
  margin-bottom: 25px;
}

.days {
  font-size: 25px;
  margin: 0 auto;
}

.weekly-forecast {
  list-style-type: none;
  padding-top: 40px;
  padding-left: 45px;
}

.li {
  font-size: 20px;
}
